[Unit]
Description=Just Monika.

[Service]
User=tjohannessen
WorkingDirectory=~
ExecStart=/usr/local/bin/monika/start

[Install]
WantedBy=multi-user.target
